<div class="head gradientl desk">
    <img src="<%= baseurl() %>images/kadence_icon.png" class="logo">
</div>
<div class="sidebar desk">
    <ul class="menu">
        <li><a href="<%= baseurl() %>" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Decision Journey</a></li>
        <li><a href="<%= baseurl() %>reverse/" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Decision Journey Reverse</a></li>
        <li><a href="<%= baseurl() %>report/sourceofinformation" class="size-std"><img src="<%= baseurl() %>images/icon/report.png"> Source of Information</a></li>
        <li><a href="<%= baseurl() %>report/aida" class="size-std"><img src="<%= baseurl() %>images/icon/report.png"> AIDA Analysis</a></li>
        <li><a href="<%= baseurl() %>logout" class="size-std"><img src="<%= baseurl() %>images/icon/logout-blue.png">Logout</a></li>
    </ul>
</div>