<!DOCTYPE html>
<html>
<head>
	<title>Source of Information</title>
    <link rel = "icon" href = "https://kadence.com/wp-content/uploads/2020/07/260x260.png" type = "image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="<%= baseurl() %>plugin/flexmonster/theme/green/flexmonster.css"></script>
    <%- include ('../partials/header') %>
</head>
<body>
<div class="wrapper">
	<div class="lSide">
		<%- include ('../partials/sidebar') %>
	</div>
	<div class="rSide">
		<div class="head gradientr desk">
			<%- include ('../partials/topdesk') %>
		</div>
		<div class="mainbox size-std column">
			<div class="title-content size-std">
				<a href="<%= baseurl() %>">DASHBOARD</a> - Source Of Information
            </div>
			<div class="cols-12 containt" style="margin: 20px 0;">
                <form class="control">
                    <div class="list-control" style="border-bottom: none;">
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Brand</span><br>
                            <select name="code1" id="brand" class="size-std">
                                <option value="all">-- Select Brand --</option>
                                <% for(var i=0;i<brand.length;i++){ %>
                                <option value="<%= brand[i].code %>"><%= brand[i].label %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Demografi 1</span><br>
                            <select name="break2" id="break2" class="size-std" onChange="filterGroup()">
                                <option value="all">-- Show All --</option>
                                <option value="S3">City</option>
                                <option value="S5">Gender</option>
                                <option value="S6_GRUP">Age</option>
                                <option value="S16">SES</option>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std"></span><br>
                            <select name="code2" id="code2" class="size-std">
                                <option value="all">-- Select Group --</option>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Demografi 2</span><br>
                            <select name="break3" id="break3" class="size-std" onChange="filterGroup()">
                                <option value="all">-- Show All --</option>
                                <option value="S3" id="S3">City</option>
                                <option value="S5" id="S5">Gender</option>
                                <option value="S6_GRUP" id="S6_GRUP">Age</option>
                                <option value="S16" id="S16">SES</option>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std"></span><br>
                            <select name="code3" id="code3" class="size-std">
                                <option value="all">-- Select Group --</option>
                            </select>
                        </div>
                        <div class="list-control-box size-std spc-rl">
                            <button type="sbumit" class="myButton-submit">Show</button>
                            <img src="<%= baseurl() %>/images/icon/loader.gif" alt="" class="loader" style="display: none;">
                        </div>
                    </div>
                </form>
            </div>
            <div class="cols-12 containt column" style="margin: 20px 0;">
                <div class="loader" style="display: none;">
                    <span class="loader-helper"></span><img src="<%= baseurl() %>images/icon/loader.gif" alt="">
                </div>
                <div class="cols-6" style="margin: 20px 0;">
                    <div class="headtitle trans" style="margin-bottom: 0;">
                        <p class="size-head3 nopad">Source Of Information <b class="titleCategory"></b> - Total Respondent (<b class="totalResp"></b>)</p>
                    </div>
                    <div style="width: 100%;">
                        <div class="chartbox">
                            <div id="soi1" style="height: 1400px; margin: 0px auto;"></div>
                        </div>
                    </div>
                </div>
                <div class="cols-6" style="margin: 20px 0;">
                    <div class="headtitle trans" style="margin-bottom: 0;">
                        <p class="size-head3 nopad">Source Of Information 2018 <b class="titleCategory"></b> - Total Respondent (<b class="totalResp2018"></b>)</p>
                    </div>
                    <div style="width: 100%;">
                        <div class="chartbox">
                            <div id="soi2018" style="height: 1400px; margin: 0px auto;"></div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
</body>
<%- include ('../partials/footer') %>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script>
    $(".control").on("submit", function(e){
        var data = $('.control').serialize()
        $.ajax({
            url: "<%= baseurl() %>report/sourceofinformation/content/",
            type: "POST",
            data: data,
            cache: true,
            beforeSend: function(){
                $(".loader").show()
            },success: function(chartData){
                $(".loader").hide()
                $(".totalResp").text(chartData[1])
                $(".totalResp2018").text(chartData[3])
                function compareDataPointYAscend(dataPoint1, dataPoint2) {
                    return dataPoint1.y - dataPoint2.y;
                }

                function compareDataPointYDescend(dataPoint1, dataPoint2) {
                    return dataPoint2.y - dataPoint1.y;
                }
                var soi1 = new CanvasJS.Chart("soi1",{
                    animationEnabled: true,
                    zoomEnabled: true,
                    exportEnabled: true,
                    axisY: {
                        title: " ",
                        minimum: 0,
                        includeZero: true,
                        labelFontSize: 12,
                    },
                    axisX: {
                        title: " ",
                        labelFontSize: 12,
                        labelWrap: true,
                        labelMaxWidth: 100,
                        includeZero: true
                    },
                    data: [{
                        indexLabelFontSize: 13,
                        toolTipContent: "<span style=\"color:#62C9C3\">{indexLabel}:</span> <span style=\"color:#CD853F\"><strong>{label}%({value})</strong></span>",
                        type: "bar",
                        indexLabelFontColor: "black",
                        indexLabelPlacement: "inside",
                        yValueFormatString: "#0.##",
                        indexLabel: "{y}",
                        dataPoints: chartData[0]
                    }]
                });
                soi1.options.data[0].dataPoints.sort(compareDataPointYAscend);
                soi1.render();

                var soi2018 = new CanvasJS.Chart("soi2018",{
                    animationEnabled: true,
                    zoomEnabled: true,
                    exportEnabled: true,
                    axisY: {
                        title: " ",
                        minimum: 0,
                        includeZero: true,
                        labelFontSize: 12,
                    },
                    axisX: {
                        title: " ",
                        labelFontSize: 12,
                        labelWrap: true,
                        labelMaxWidth: 100,
                        includeZero: true
                    },
                    data: [{
                        indexLabelFontSize: 13,
                        toolTipContent: "<span style=\"color:#62C9C3\">{indexLabel}:</span> <span style=\"color:#CD853F\"><strong>{label}%({value})</strong></span>",
                        type: "bar",
                        indexLabelFontColor: "black",
                        indexLabelPlacement: "inside",
                        yValueFormatString: "#0.##",
                        indexLabel: "{y}",
                        dataPoints: chartData[2]
                    }]
                });
                soi2018.options.data[0].dataPoints.sort(compareDataPointYAscend);
                soi2018.render();
            }
        })
        return false;
    })

    function filterGroup(){
        var data = $(".control").serialize();
        $.ajax({
            url: '<%= baseurl() %>filter',
            type: "POST",
            data: data,
            cache: true,
            beforeSend: function(load){

            },success: function(result){
                if($("#break2").val() != "all"){
                    var html1;
                    for (let i = 0; i < result[0].length; i++) {
                        html1 += '<option value="'+result[0][i].code+'">'+result[0][i].label+'</option>'
                    }
                    $("#code2").html(html1)
                    $("#break3 option").show()
                    $("#"+$("#break2").val()).hide()
                }
                if($("#break3").val() != "all"){
                    var html2;
                    for (let i = 0; i < result[1].length; i++) {
                        html2 += '<option value="'+result[1][i].code+'">'+result[1][i].label+'</option>'
                    }
                    $("#code3").html(html2)
                }
            }
        })
    }
</script>
</html>